body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  background: white;
  padding: 20px;
  margin: 30px auto;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

input, select {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  text-align: left;
}